body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background:url(BALL.jpg);
    background-size: cover;
    background-attachment:local;
    background-repeat:no-repeat;
    position: relative;

}

header{
    background: rgba(rgb(60, 179, 113));
}

header#text section#logo{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    letter-spacing: -1.5px;
    line-height: 0.9;
    margin-top: 5px;
}

header#text section#rome{
    text-align: center;
    color: rgb(255, 255, 255);
}
nav{
    padding-top: 40px;
    
}

nav li{
    display: inline;
    margin: 8% 9.2%;
    text-decoration: none;
  
    
}
nav li a {
    text-decoration: none;
}


.links{
    padding-bottom: 40px;
    background: linear-gradient(to right, #008c45 23%,#ffffff 20%, #ffffff 50%, #ffffff 50%, #ffffff 73%, #cd212a 73%);
    background-size: 100% 8px;
    background-position: bottom;
    background-repeat: no-repeat;
}

.first ,.second {
    float: left;
    height: 150px;
    margin-right: 25px;
    border-radius: 2px;
}

.third{
    height: 130px;
    float: left;
    margin-right: 25px;
    border-radius: 2px;
}
.yes{
    justify-content: center;
    display: flex;
    text-decoration: underline #0b4237 2px;
    font-family: 'Chonburi';
    font-size: 25px;
    letter-spacing: -1px;
  }

.blockquote{
    max-width: 385px;
    margin: 50px 30px;
    padding: 25px;
    background: #F8FFFe;
    border: 1px solid #b0d2cd;
    color: #0b4237;
    box-sizing: border-box;
    float: left;
    padding-bottom: 67px;
}

.quote{
    max-width: 385px;
    margin: 50px 35px;
    padding: 25px;
    background: #F8FFFe;
    border: 1px solid #b0d2cd;
    color: #0b4237;
    box-sizing: border-box;
    float: right;
}

.block{
    max-width: 385px;
    margin: 50px 30px;
    padding: 25px;
    background: #F8FFFe;
    border: 1px solid #b0d2cd;
    color: #0b4237;
    box-sizing: border-box;
    float: right;
    padding-bottom: 45px;
}
  
